@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 600px;
  width: 850px; /* Increased width to fit both boxes */
}

.first-box, .second-box {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
